# Day 16: Fetching Data from an API

In this documentation, we will discuss how to fetch data from an API using Python.

## What is an API?

API stands for Application Programming Interface, which allows software to communicate with other software. In simpler terms, it allows different software systems to interact with each other. An API provides a set of protocols and tools for building software applications.

## Steps to Fetch Data from an API using Python

### Step 1: Import necessary libraries
The first step is to import the necessary libraries. We will use the 'pandas' and 'requests' libraries to fetch and manipulate data from the API.

In [1]:
import pandas as pd
import requests

### Step 2: Fetch data from the API
The next step is to fetch the data from the API. We will use the 'requests' library to make a request to the API.

In [2]:
res=requests.get('https://api.covid19api.com/summary')

### Step 3: Convert the JSON data to a Pandas DataFrame
The data returned by the API is in JSON format. We can use the 'json()' method to convert it to a Python dictionary. We will then extract the necessary columns from the dictionary and convert it to a Pandas DataFrame.

In [3]:
df=pd.DataFrame(res.json()['Countries'])[['Country','CountryCode','NewConfirmed','TotalConfirmed','NewDeaths','TotalDeaths','NewRecovered','TotalRecovered' ]]

In [4]:
df

,Country,CountryCode,NewConfirmed,TotalConfirmed,NewDeaths,TotalDeaths,NewRecovered,TotalRecovered
0,Afghanistan,AF,0,209451,0,7896,0,0
1,Albania,AL,14,334457,0,3598,0,0
2,Algeria,DZ,2,271496,0,6881,0,0
3,Andorra,AD,0,47890,0,165,0,0
4,Angola,AO,0,105288,0,1933,0,0
...,...,...,...,...,...,...,...,...
192,Venezuela (Bolivarian Republic),VE,5,552162,0,5854,0,0
193,Viet Nam,VN,0,11526994,0,43186,0,0
194,Yemen,YE,0,11945,0,2159,0,0
195,Zambia,ZM,0,343135,0,4057,0,0
196,Zimbabwe,ZW,0,264276,0,5671,0,0

### Step 4: Check the shape of the DataFrame
It is always a good practice to check the shape of the DataFrame to ensure that we have fetched the data correctly.

In [5]:
df.shape

(197, 8)

### Step 5: Save the DataFrame to a CSV file
Finally, we can save the DataFrame to a CSV file using the 'to_csv()' method.

In [7]:
df.to_csv('Covid_Data.csv')

This is a simple way to fetch data from an API using Python.

## Additional Resources

For more information about working with APIs in Python, you can refer to the following resources: <br>

â€¢ <a href="https://docs.python-requests.org/en/latest/">Requests library documentation</a> <br>
â€¢ <a href="https://pandas.pydata.org/docs/">Pandas library documentation</a>